* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
body, html {
   background-color: #F3E9DA; /* Cor de fundo beige suave */
   margin: 0;
   padding: 0;
   
   max-width: 100%;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color:  #F3E9DA;
    overflow-x: hidden;
    flex-direction: column;
    padding-top: 100px; /* espaço por causa do header fixo */
    
    
}

/* NAVBAR GERAL */
.opcoes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #B22222; /* vermelho institucional */
  padding: 30px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container-navbar {
  display: flex;
  justify-content: space-between; /* links na esquerda, ícone na direita */
  align-items: center;
  padding: 0 30px;
}

/* LINKS ESQUERDA */
.nav-esquerda {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-esquerda a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
  padding: 6px;
  margin: 0 10px;
}

.nav-esquerda a:hover {
  color: #8B0000;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #B22222;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  letter-spacing: 1px;
}

.dropdown-content a:hover {
  background-color: #d1c89f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    width: 100%;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 17px;
}

.usuario-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

#usuario-icone {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.submenu-usuario {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background: #B22222;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
  z-index: 999;
}

.submenu-usuario a {
  color: white;
  padding: 6px 10px;
  display: block;
  text-decoration: none;
}

.submenu-usuario a:hover {
  background-color: #7c1b23;
}

#nome-usuario {
    font-weight: normal !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-size: 17px !important;
}


#dark-btn{
    width: 40px;
    position: fixed;
    top: 300px;
    right: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    transition: background-color 0.3s ease;
}

#dark-btn:hover {
    transform: translateY(-5px);

}

#light-btn{
    width: 40px;
    position: fixed;
    top: 300px;
    right: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    transition: background-color 0.3s ease;
}

#light-btn:hover {
    transform: translateY(-5px);
}
/* Tema escuro global */
body.dark-mode html,
body.dark-mode {
  background-color: #1e1e1e;
  color: #f1f1f1;
  width: 100%;
}

/* Herdar cor do texto para tudo */
body.dark-mode * {
  color: inherit ;
  background-color: transparent;
  border-color: #555;
}

/* Sobrescreve elementos brancos específicos */
body.dark-mode header,
body.dark-mode footer,
body.dark-mode nav,
body.dark-mode section{
   color: #f1f1f1;
  background-color: #1e1e1e ;
 
}

body.dark-mode .avaliacao,
body.dark-mode .avaliacao-hidden{
     background-color: #2c2c2c; 
}

body.dark-mode .btn-cardapio {
    background-color: #B22222; /
}
body.dark-mode p{
    color: #f1f1f1; /* Cor do texto em modo escuro */
 } 

 body.dark-mode .footer-contato {

    background-color: #2c2c2c;
 }

 
.text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    width: 100%;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 17px;
}

.opcoes a:hover {
    color: #8B0000; /* vermelho escuro no hover */
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 150px 50px 50px;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

/* Texto + botão */
.conteudo-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1.5;
}

.conteudo-texto h1 {
    font-size: 3.2rem;
    margin-bottom: 20px;
}

/* Botão */
.btn-cardapio  {
    background-color: #B22222;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-cardapio:hover {
    background-color: #8B0000;
    transform: translate(-5px);
}

/* Imagem da pizza */
.imagem-pizza {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagem-pizza img {
    max-width: 100%;
    height: auto;
}


.container-2 {
    width: 100%;
    background-color: #fff5ed;
    text-align: center;
    padding: 60px 0;
    box-sizing: border-box;
    overflow-x: hidden; /* impede a rolagem lateral */
}

.container-2 h2 {
    margin-bottom: 40px;
    color: #B22222;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
  
}

.icones-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.icone {
    flex: 1 1 30%;
    padding: 20px;
    box-sizing: border-box;
    min-width: 200px;
}

.icone img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.icone p {
    font-size: 19px;
    font-weight: 600;
    color: #333;
}

.quem-somos {
    background-color: #F3E9DA; /* Cor de fundo beige suave, igual a da seção da pizza */
    padding: 60px 0px;
    text-align: center;
    color: #333;
    box-sizing: border-box;
    width: 100%;
  
}

.sobre-nos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
}

.sobre-nos h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #B22222; /* Vermelho institucional */
    margin-bottom: 20px;
}

.sobre-nos p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.avaliacoes-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 40px 10px;
    flex-direction: row;
    margin: 10px;
    margin-left: 60px;
   position: relative;
}

  
  
  .avaliacao {
    width: 30%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    position: relative;
  }
  
  .avaliacao-hidden, #seta-hidden-1 {
    display: none;
  }
 
  .avaliacao-hidden{
    width: 30%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

 #julia{
    display: none;
  }
  
  
  .foto-cliente {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%; /* Deixa arredondada */
    margin-bottom: 15px;
    border: 2px solid #B22222;
  }
  
  .texto-avaliacao {
    font-size: 1rem;
    color: #333;
  }
  
  .comentario {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .estrelas {
    font-size: 1.5rem;
    color: #B22222; 
    margin: 10px 0;
  }
  
  span {
    font-weight: bold;
    color: #666;
  }

.seta {
    margin: 0; /* tira margem que empurra */
    text-align: center;
    display: flex;
    position: absolute;
    right: 120px; /* aumenta para afastar da borda e do último card */
    top: 50%; /* para centralizar verticalmente */
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.7s ease;
    width: 25px;
    height: auto;
}

  /* Ajustes para a seta */
  .seta img{
    color: #B22222 !important;
    fill: #B22222;
    cursor: pointer;
    width: 25px;
    height: auto;
    cursor: pointer;
    transition: all 0.7s ease;
  }


.seta  :hover {
    transform: translateY(-7px);
}

#seta-esq {
    display: none;
   
    
}

#seta-dir {
    margin-left: 5px;
    margin-right: -8px;
    padding-left: 10px;
    
   
}

.footer-contato {
  background-color: #F3E9DA;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha tudo ao canto esquerdo */
  width: 100%;
}

.footer-container {
  display: flex;
  align-items: flex-start; /* Alinha verticalmente no topo */
  width: auto; /* Remove largura fixa para ajustar ao conteúdo */
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Reduz o espaço entre os links */
  margin-right: 10px; /* Reduz o espaço antes da borda */
}

.footer-links a {
  text-decoration: none;
  color: #797575;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.footer-links a:hover {
  color: #1e1e1e;
  transform: translateX(5px);
}

.footer-contato-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  border-left: 2px solid #B22222 ; /* Borda vertical separando as seções */
  padding-left: 10px; /* Reduz o espaço após a borda */
}

.info-contato {
  text-align: left;
  color: #333;
  margin-bottom: 5px; /* Reduz o espaço antes dos ícones */
}

.info-contato h3 {
  margin-bottom: 12px; /* Reduz o espaço abaixo de "Contato" */
  font-size: 1.5rem;
  color: #666;
  font-weight: 400;
}

.icones-redes {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* Reduz o espaço entre os ícones */
  margin-top: 0; /* Remove margem para alinhar com os links */
}

.icones-redes img {
  width: 28px;
  height: 30px;
  transition: transform 0.2s ease;
}

.icones-redes img:hover {
  transform: scale(1.1);
}

#copy {
  font-size: 0.9rem;
  color: #666;
  margin-top: 20px;

}
@media (max-width: 768px) {
  .container-navbar {
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
  }

  .usuario-box {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    margin-left: auto;
   
  }

  #usuario {
    width: 20px;
    height: 30px;
  }

  .nav-esquerda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     gap: 3px;
  }

  .nav-esquerda a, .dropdown  a {
    font-size: 15px;
    padding: 5px 0;
    width: fit-content;
  }

  .dropdown-content {
    position: absolute;
    min-width: 160px;
    background-color: #B22222;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1001;
  }

  .seta {
    right: 2px; /* afasta da borda e do card, ajusta conforme necessário */
    top: 30%;
    transform: translateY(30%);
    margin: 0; /* remove margens laterais */
  }
 
body.dark-mode {
  background-color: #1e1e1e;
  color: #f1f1f1;
  width: 100vw; /* força 100% da viewport */
  overflow-x: hidden; /* evita rolagem lateral */
}


  body.dark-mode .container-2,
  body.dark-mode .quem-somos,
  body.dark-mode .footer-contato {
    background-color: #1e1e1e;
  }

.container-2 {
    width: 100%;
    background-color: #fff5ed;
    text-align: center;
    padding: 60px 0;
    box-sizing: border-box;
    overflow-x: hidden; /* impede a rolagem lateral */
}


  .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .dropdown > a{
    padding: 5px 0;
    white-space: nowrap; /* Impede quebra de linha */
  }

  .text {
    font-size: 15px;
    margin: 0 5px;
  }

  .dropdown-content a {
    display: none;
  }
}





@media (max-width: 480px) {
  .container-navbar {
    padding: 8px 15px;
  }
.opcoes{
 height:100px;

}

.dropdown-content a {
    display: none;
  }
  .nav-esquerda {
    gap: 1px;
    
  }

  .nav-esquerda a, .dropdown > a {
    font-size: 10px;

  }

  #usuario {
    width: 15px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
  }
.seta {
    right: 2px; /* ainda mais para esquerda, para não cobrir o card */
    top: 20%;
    transform: translateY(-30%);
    margin: 0;
  }
body.dark-mode {
  background-color: #1e1e1e;
  color: #f1f1f1;
  width: 100vw; /* força 100% da viewport */
  overflow-x: hidden; /* evita rolagem lateral */
}


  body.dark-mode .container-2,
  body.dark-mode .quem-somos,
  body.dark-mode .footer-contato {
    background-color: #1e1e1e;
  }


.container-2 {
    width: 100%;
    background-color: #fff5ed;
    text-align: center;
    padding: 60px 0;
    box-sizing: border-box;
    overflow-x: hidden; /* impede a rolagem lateral */
}


  .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    font-size: 11px;
    
  }

}


